<!--<h1><span class="blue">&lt;</span>Table<span class="blue">&gt;</span> <span class="yellow">Responsive</pan></h1>-->
<h1>Camera Status</h1>
<h2>Managed by <a href="https://www.linkedin.com/in/muhammad-hazwan-zainudin-3621b515b" target="_blank">Hazwan Zainudin</a></h2>

<table class="container">
<thead>
  <tr>
    <th><h1>Camera ID</h1></th>
    <th><h1>Status</h1></th>
    <th><h1>Fire Hazard Status</h1></th>
    <th><h1>Battery Life</h1></th>
    <th><h1>Last Updated</h1></th>
    <th><h1>Last Fire Seen</h1></th>
  </tr>
</thead>
<tbody>
  <tr fstat="{{fstat1}}" class="firestat">
    <td>{{ cam_id1 }}</td>
    <td>{{ status1 }}</td>
    <td>{{ fstat1 }}</td>
    <td>{{ battery1 }}%</td>
    <td id="time1"></td>
    <td id="ftime1"></td>
  </tr>
  <tr fstat="{{fstat2}}" class="firestat">
    <td>{{ cam_id2 }}</td>
    <td>{{ status2 }}</td>
    <td>{{ fstat2 }}</td>
    <td>{{ battery2 }}%</td>
    <td id="time2"></td>
    <td id="ftime2"></td>
  </tr>
  <tr fstat="{{fstat3}}" class="firestat">
    <td>{{ cam_id3 }}</td>
    <td>{{ status3 }}</td>
    <td>{{ fstat3 }}</td>
    <td>{{ battery3 }}%</td>
    <td id="time3"></td>
    <td id="ftime3"></td>
  </tr>
  <tr fstat="{{fstat4}}" class="firestat">
    <td>{{ cam_id4 }}</td>
    <td>{{ status4 }}</td>
    <td>{{ fstat4 }}</td>
    <td>{{ battery4 }}%</td>
    <td id="time4"></td>
    <td id="ftime4"></td>
  </tr>
</tbody>
</table>
