<h2>Camera Status</h2>
<br>
<table id="t1" style="width:100%">
  <tr>
    <th>Camera ID</th>
    <th>Status</th>
    <th>Battery Life</th> 
    <th>Last updated</th>
    <th>Last fire detected</th>
  </tr>
  <tr>
    <th>{{ cam_id1 }}</th>
    <td>{{ status1 }}</td>
    <td>{{ battery1 }}%</td>
    <td id="time1"></td>
    <td id="ftime1"></td>
  </tr>
  <tr>
    <th>{{ cam_id2 }}</th>
    <td>{{ status2 }}</td>
    <td>{{ battery2 }}%</td>
    <td id="time2"></td>
    <td id="ftime2"></td>
  </tr>
  <tr>
    <th>{{ cam_id3 }}</th>
    <td>{{ status3 }}</td>
    <td>{{ battery3 }}%</td>
    <td id="time3"></td>
    <td id="ftime3"></td>
  </tr>
  <tr>
    <th>{{ cam_id4 }}</th>
    <td>{{ status4 }}</td>
    <td>{{ battery4 }}%</td>
    <td id="time4"></td>
    <td id="ftime4"></td>
  </tr>
</table>
