<h2>Camera Status</h2>
<br>
<table id="t1" style="width:100%">
  <tr>
    <th></th>
    <th>Camera 1</th>
    <th>Camera 2</th> 
    <th>Camera 3</th>
    <th>Camera 4</th>
  </tr>
  <tr>
    <th>Status</th>
<td id="c1"> update cam 1 </td>
<td id="c2"> update cam 2 </td>
<td id="c3"> update cam 3 </td>
<td id="c4"> update cam 4 </td>
  </tr>
  <tr>
    <th>Last updated</th>
    <td id="time1"></td>
    <td id="time2"></td>
    <td id="time3"></td>
    <td id="time4"></td>
  </tr>
  <tr>
    <th>Last fire detected</th>
    <td>10 mintues</td>
    <td>1 hour</td>
    <td>36 hours</td>
    <td>5 weeks</td>
  </tr>
  <tr>
    <th>Battery Life</th>
    <td>92%</td>
    <td>10%</td>
    <td>80%</td>
    <td>25%</td>
  </tr>
</table>
